<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PoliceDataBaseLB.Properties.Settings.policeplatformConnectionString"
            connectionString="Dsn=MySQL Data Source;server=127.0.0.1;uid=root;pwd=root;database=policeplatform;port=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>